.root {
    -fx-background-color: #383838;
    /*-fx-background-color: #000;*/
}

#sideBar {
    -fx-text-fill: #000;
}

.greyTextField {
    -fx-background-color: #919191;
    -fx-alignment: CENTER_RIGHT;
    -fx-text-fill: aqua;
}
.leftTextField{
    -fx-background-color: #919191;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: aqua;
}
.whiteLabel {
    -fx-text-fill: #bbb;
}


.centerPane {
    -fx-spacing: 10px;
    -fx-padding: 10;
}


.combo-box {
    -fx-background-color: #919191;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: aqua;
    -fx-pref-width: 160;

}

