<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.rubi.calc.dao.CombinationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ink.rubi.calc.po.Combination">
        <id column="id" property="id"/>
        <result column="shield_level" property="shieldLevel"/>
        <result column="beta" property="beta"/>
        <result column="alpha" property="alpha"/>
        <result column="gamma" property="gamma"/>
        <result column="reality" property="reality"/>
        <result column="module_level" property="moduleLevel"/>
        <result column="module_beta" property="moduleBeta"/>
        <result column="max_hp_decrease" property="maxHpDecrease"/>
        <result column="max_hp_increase" property="maxHpIncrease"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shield_level, beta, alpha, gamma, reality, module_level, module_beta, max_hp_decrease, max_hp_increase
    </sql>

</mapper>
